header {
  background-color: #1b2127;
  color: white
}

.header a {
  color: white;
  text-decoration: none;
}

/* selector de etiqueta */
/* selector descendente */

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fijalla One', sans-serif;
  font-weight: normal;
}


h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white
  /* text-transform: uppercase;
  text-decoration: dashed; */
}

h1 strong {
  color: #026fff
}

.hero {
  height: 300px;
  background-image: url(../images/hero.jpg);
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: #1b2127
}

.project {
  border-color: #026fff;
  border-width: 15px;
  border-style: solid
}

.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}